---
const pageTitle = "About Me";

const author = {
    name: "Jay",
    role: "Software Engineer"
};

const skills = ['HRML', 'CSS', "JS",'NodeJS'];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <style>
            h1{
                color: blueviolet;
                font-weight: bold;
            }
        </style>
	</head>
	<body>
		<h1>{pageTitle}</h1>
        <a href="/">Home</a>
		<a href="/about">About</a>

        <p>{author.name}</p>
        <ul>
            {skills.map(skill =>  <li>{skill}</li>)}
        </ul>
	</body>
</html>
